In [2]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
# Load the data from users.xlsx
file_path = "interface/project_data/generated_data/users.xlsx"
df = pd.read_excel(file_path)

# Drop non-skill columns ('Name' and 'Added Skills')
skill_columns = df.drop(columns=['Name', 'Added Skills'], errors='ignore')
skill_columns

,Education,Adaptability,Computers and information technology,Creativity,Critical and Analytical Thinking,Customer Service,Detail Oriented,Fine Motor Skills,Interpersonal Relations,Leadership,Mathematics,Mechanical,Physical Strength and Stamina,Problem Solving and Decision Making,Project Management,Scientific Skills,Speaking and Listening,Writing and Reading
0,5.0,4.5,5.0,4.0,4.5,3.5,4.0,3.5,4.0,4.0,4.5,4.0,3.5,4.0,4.0,4.0,4.5,4.5
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,5.0,4.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,5.0,5.0,2.5,2.5,5.0
3,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
skill_columns= skill_columns.fillna(0)
skill_columns

,Education,Adaptability,Computers and information technology,Creativity,Critical and Analytical Thinking,Customer Service,Detail Oriented,Fine Motor Skills,Interpersonal Relations,Leadership,Mathematics,Mechanical,Physical Strength and Stamina,Problem Solving and Decision Making,Project Management,Scientific Skills,Speaking and Listening,Writing and Reading
0,5.0,4.5,5.0,4.0,4.5,3.5,4.0,3.5,4.0,4.0,4.5,4.0,3.5,4.0,4.0,4.0,4.5,4.5
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5.0,5.0,4.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,5.0,5.0,2.5,2.5,5.0
3,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#cosine similarity implemented
cos_sim_matrix = cosine_similarity(skill_columns)

In [20]:
# Create a DataFrame for the similarity matrix, including user names
similarity_df_filled = pd.DataFrame(cos_sim_matrix, index=df['Name'], columns=df['Name'])
similarity_df_filled

Name      Atharv   AP        AA     Test1  Diya
Name
Atharv  1.000000  0.0  0.957106  0.994447   0.0
AP      0.000000  0.0  0.000000  0.000000   0.0
AA      0.957106  0.0  1.000000  0.944980   0.0
Test1   0.994447  0.0  0.944980  1.000000   0.0
Diya    0.000000  0.0  0.000000  0.000000   0.0

In [ ]:
# top of the similarity matrix
similarity_df_filled.head()

Name      Atharv   AP        AA     Test1  Diya
Name
Atharv  1.000000  0.0  0.957106  0.994447   0.0
AP      0.000000  0.0  0.000000  0.000000   0.0
AA      0.957106  0.0  1.000000  0.944980   0.0
Test1   0.994447  0.0  0.944980  1.000000   0.0
Diya    0.000000  0.0  0.000000  0.000000   0.0